<div slides class="conversation">
  <div slide class="conversation-pair">
    <div>
      <p><strong>You know what to do.</strong></p>
      <div
        data-purchase-button
        data-price="<%= @price %>"
        data-desc="<%= "medium cheese — $#{@price/100}" %>"
        data-form-label="<%= "buy edwin pizza, $#{@price/100}" %>"
      >
        <img src="https://placehold.it/250x250" />
      </div>
    </div>
    <div>
      <p class="conversation-response" open-next-slide lock-body-scrolling><span class="conversation-response-link">Nah i’m not paying $15</span></p>
    </div>
  </div>

  <div slide class="conversation-pair conversation-pair--light">
    <div>
      <p>Yah so first of all I made this screen white to hurt your eyes. Look, this domain edwin.pizza costs $40 per year, which is half as much as I pay for edwin.xxx but still like 2–4 pizzas worth of cash. I’m charging $15 for a medium cheese. That’s a pretty good deal b/c I’m paying the tax and tip myself, and I live in Brooklyn which means pizza costs like $30. Plus integrating this payment stuff is hard.</p>
    </div>
    <div>
      <p class="conversation-response" open-next-slide><span class="conversation-response-link">What will you do for me?</span></p>
    </div>
  </div>

  <div slide class="conversation-pair conversation-pair--light">
    <div>
      <p>At first I thought I’d let people make a delivery order to my apartment, any time of the day — it was gonna be a social experiment like jennicam. But that’s crazy so instead the money just goes into my bank account (lol.)</p>
    </div>
    <div>
      <p class="conversation-response" open-next-slide><span class="conversation-response-link">Wait what?</span></p>
    </div>
  </div>

  <div slide class="conversation-pair conversation-pair--light">
    <div>
      <p>I’ll buy a whole cheese pizza that costs around $15 ASAIC (as soon as is convenient), then I’ll post pics or vids of me eating it on this website. Maybe I’ll send you a funny email, maybe I’ll post a review — the possibilies are endless and I think you and I are the right team to figure it out.</p>
    </div>
    <div>
      <p class="conversation-response" open-next-slide><span class="conversation-response-link">Where would you get it?</span></p>
    </div>
  </div>

  <div slide class="conversation-pair conversation-pair--light">
    <div>
      <p>Please stop asking me questions and just buy the pizza.</p>
    </div>
    <div>
      <p class="conversation-response" open-next-slide><span class="conversation-response-link">C’mon</span></p>
    </div>
  </div>

  <div slide class="conversation-pair conversation-pair--light">
    <div>
      <p>The best place used to be Pauline and Sharon’s, but then one time they took an hour and a half to deliver so I put them on the universal shit list. Did you know they charge like $3 more for all their pizzas on Seamless? I recently created a Domino’s easy order which means I can get a pizza delivered with a tweet, so I may use them, but yeah it really depends, why don’t you buy me a pizza and find out.</p>
    </div>
    <div>
      <p class="conversation-response" open-next-slide unlock-body-scrolling><span class="conversation-response-link">I’m still not paying $15</span></p>
    </div>
  </div>

  <div slide class="conversation-pair">
    <div>
      <p>First let’s both acknowledge that you didn’t read that.</p>
      <p>My final offer is $12.</p>
      <div
        data-purchase-button
        data-price="<%= @discount_price %>"
        data-desc="<%= "medium cheese — $#{@discount_price/100}" %>"
        data-form-label="<%= "buy edwin some cheap discount pizza" %>"
      >
        <img src="https://placehold.it/250x250" />
      </div>
    </div>
  </div>
</div>
