<form action="/charge" method="POST">
  <input type="hidden" name="price" value="<%= price %>" />
  <input type="hidden" name="description" value="<%= desc %>">

  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-allow-remember-me="false"
    data-label="<%= form_label %>"
    data-key="<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>"
    data-name="buy.edwin.pizza"
    data-description="<%= desc %>"
    data-amount="<%= price %>">
  </script>
</form>
