<%= render partial: "video_background" unless browser.mobile? %>

<div class="conversation_pane">
  <%= render partial: "conversation/conversation" %>
  <span class="conversation_pane-hint">↓ These people bought me pizza. You should buy me pizza.</span>
</div>

<div class="hall_of_fame">
  <%= render partial: "famers/stephen" %>
  <%= render partial: "famers/alex" %>
  <%= render partial: "famers/ben" %>
  <%= render partial: "famers/sam" %>
  <%= render partial: "famers/chrissy" %>
  <%= render partial: "famers/ben_orenstein" %>
  <%= render partial: "famers/joel" %>
  <%= render partial: "famers/mat" %>
</div>
