<%= render partial: "video_background" unless browser.mobile? %>

<div class="conversation_pane">
  <%= render partial: "conversation/conversation" %>
</div>

<%= render partial: "famers/stephen" %>
<%= render partial: "famers/alex" %>
<%= render partial: "famers/ben" %>
<%= render partial: "famers/sam" %>
<%= render partial: "famers/chrissy" %>
<%= render partial: "famers/ben_orenstein" %>
<%= render partial: "famers/joel" %>
<%= render partial: "famers/mat" %>
<%= render partial: "famers/slickk" %>
<%= render partial: "famers/ilan" %>
<%= render partial: "famers/chris" %>
<%= render partial: "famers/milan" %>
<%= render partial: "famers/jeff" %>
<%= render partial: "famers/ali" %>
<%= render partial: "famers/wylie" %>
