<%= render partial: "conversation" %>

<div class="scroll">
  <div class="scroll-blank_panel scroll-blank_panel--black"></div>
  <div class="scroll-gradient_panel">
    <div class="scroll-gradient scroll-gradient--left_panel"></div>
    <div class="scroll-gradient scroll-gradient--center_panel"></div>
    <div class="scroll-gradient scroll-gradient--right_panel"></div>
  </div>
</div>

<div id="intermediary_message" class="intermediary_message container_with_horizontal_padding">
  <p>These are all the people who bought me pizza.</p>
</div>

<div class="scroll scroll--inverted">
  <div class="scroll-gradient_panel scroll-gradient_panel">
    <div class="scroll-gradient scroll-gradient--left_panel"></div>
    <div class="scroll-gradient scroll-gradient--center_panel"></div>
    <div class="scroll-gradient scroll-gradient--right_panel"></div>
  </div>
</div>

<div class="container_with_horizontal_padding">
  <%= render partial: "famers/oppidraeger" %>
  <%= render partial: "famers/aaron" %>
  <%= render partial: "famers/wylie" %>
  <%= render partial: "famers/ali" %>
  <%= render partial: "famers/jeff" %>
  <%= render partial: "famers/milan" %>
  <%= render partial: "famers/chris" %>
  <%= render partial: "famers/ilan" %>
  <%= render partial: "famers/slickk" %>
  <%= render partial: "famers/mat" %>
  <%= render partial: "famers/joel" %>
  <%= render partial: "famers/ben_orenstein" %>
  <%= render partial: "famers/chrissy" %>
  <%= render partial: "famers/sam" %>
  <%= render partial: "famers/ben" %>
  <%= render partial: "famers/alex" %>
  <%= render partial: "famers/stephen" %>
</div>

<div class="scroll">
  <div class="scroll-blank_panel scroll-blank_panel--black"></div>
</div>

<%= render partial: "hidden_checkout_form" %>
